<div class="col-md-6 offset-md-3 container">
        <span class="anchor" id="formResetPassword"></span>
        <hr class="mb-5">

        <!-- form card reset password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Reset your password</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h5 *ngIf="success">Success!! Check your email for your password reset instructions</h5>
                    <div class="form-group">
                        <label for="inputResetPasswordEmail">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="inputResetPasswordEmail" required="">
                        <div *ngIf="email.touched && email.invalid" class="error">
                                <div *ngIf="email.hasError('required')" class="alert alert-danger">
                                  The email is required
                                </div>
                                <div *ngIf="email.hasError('pattern')" class="alert alert-danger">
                                    The email is not valid
                                  </div>
                        </div>
                        <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                Password reset instructions will be sent to this email address.
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-md float-right" [disabled]="!form.valid">Send password reset email</button>
                    </div>
                </form>

            </div>
             <!-- /change password -->
             <div class="changepasswordhere">
                    <p>
                        Have already your password ? <a routerLink="/change-password" class="changepassword-link">Change password here</a>
                    </p>
                </div>
        </div>
        <!-- /form card reset password -->

    </div>
