@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.bg-light {
  background-image: repeating-linear-gradient(315deg, #06bcfb 0%, #4884ee 56.3%);
  height: 12%;
}

.navbar-brand {
  font-weight: bold;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  font-size: 2em;}

.dropdown{
  background-image: repeating-linear-gradient(315deg, #06bcfb 0%, #4884ee 56.3%);
 }

ul {
    list-style: none;
    margin: auto;
  }

 ul > li {
    background: #4884ee;
    border-left: 5px solid var(--gradient-color);
    margin-right: 30px;
    border-radius: 5px;
    position: relative;
    height: inherit;
    transition: .5s;
    font-weight: 600;
  }

  ul > li:nth-child(1) {
    --accent-color: #FDA085;
    --gradient-color: #F6D365;
    margin-left: 15px;
  }

 ul > li:nth-child(2) {
    --accent-color: #BFF098;
    --gradient-color: #6FD6FF;
    margin-left: 15px;
  }
 ul > li:nth-child(3) {
    --accent-color: #EA8D8D;
    --gradient-color: #A890FE;
    margin-left: 15px;
  }
ul > li:nth-child(4) {
      background: #06bcfb;
    --accent-color: #D8B5FF;
    --gradient-color: #1EAE98;
    margin-left: 15px;
  }
ul > li:nth-child(5) {
        background: #06bcfb;
      --accent-color: #D8B5FF;
      --gradient-color: #1EAE98;
      margin-left: 15px;
    }

 ul > li a , .dropdown a {
    color: #FBFBFB;
    display: block;
    padding: 15px;
    position:sticky;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    z-index: 1;
    width: auto;
  }

ul > li:focus, ul > li:focus-within, ul > li:hover {
    z-index: 10;
  }
 ul > li:focus:after, ul > li:focus-within:after, ul > li:hover:after {
    background: linear-gradient(to left,var(--accent-color),var(--gradient-color));
     max-width: 300px;
  }

ul > li:focus a:before, ul > li:focus-within a:before {
    transform: rotate(-180deg);
  }
 ul > li:after {
    background: #3c3c3c;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
    max-width: 0;
    overflow: hidden;
  }

.dropdown a:hover, .dropdown a:focus {
    background: rgba(60,60,60,0.3);
    display: block;
  }
 .dropdown a:after {
   background: rgba(60,60,60,0.3);
   display: block;
  }
