    <mdb-navbar SideClass="navbar-dark " [containerInside]="false">
    <div class="navbar navbar-expand-md bg-light fixed-top">

      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">Bizkrac</a></mdb-navbar-brand>

      <!-- Collapsible content -->
      <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" routerLink="/news" mdbWavesEffect>News<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact Us</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link  waves-light" mdbWavesEffect>
              Explore<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Categories</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sectors</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Locations</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/login" mdbWavesEffect>Become a Consultant</a>
          </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <!-- <li class="nav-item">
            <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
          </li> -->
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" mdbWavesEffect href="#">Login</a>
            </li>
          </ng-template>
          <div class="nav-item my-account" *ngIf="auth.authState | async as user; else anonymousUser"  dropdown>
            <!-- auth.authState| async as user; then authenticated else none -->
            <ngx-auth-firebaseui-avatar [links]="links"> </ngx-auth-firebaseui-avatar>
         </div>
        </ul>
      </links>

    </div>
    </mdb-navbar>
