<mdb-card cascade="true" class= "main">

    <!--Card image-->
    <div class="view view-cascade gradient-card-header blue-gradient head">
      <h2 class="card-header-title">About Us</h2>
      <p>Mission</p>
    </div>
    <!--/Card image-->

    <mdb-card-body  class="body" cascade="true" class="text-center">
      <!--Card content-->

      <div class="content">
        Our mission is to connect experts to those seeking solutions
Combing the fragmented market of consulting companies can be a considerable challenge. You can eliminate guesswork, save time and money and find the expert that fit your unique needs.
Thousands are turning to bizkrac.com to connect with trusted consultants.
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>

    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
