<div class="container">
        <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Manage Users</h3>
                    <div class="card-body">
                                <p>
                                    <a routerLink="/admin/users/new" class="btn btn-primary">New User</a>
                                </p>                                
                                <div class="form-group">
                                    <input #query (keyup)="filter(query.value)" type="text" class="fom-control" placeholder="Search...">
                                </div>                                                       
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Is Admin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let u of filteredUser">
                                            <td>{{ u.firstname }} {{ u.lastname }}</td>
                                            <td>{{ u.email }}</td>
                                            <td>{{ u.phone }}</td>
                                            <td>{{ u.isAdmin }}</td>
                                            <td>
                                                <a [routerLink]="['/admin/users/', u.id]">Edit</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                    </div>
                </div>
        </div>
</div>
