<!-- Material form login -->
<div class="container">
   <div class="form-wraper">
     <ngx-auth-firebaseui
            [providers]="[providers.Google, providers.Facebook, providers.Twitter]"
            [guestEnabled]="false"
            privacyPolicyUrl="/legal/privacy"
            tosUrl="/legal/tos"
            (onSuccess)="saveUser($event)"
            (onError)="handleError($event)"
            [messageOnAuthSuccess]="message"
            [messageOnAuthError]="errorMessage"
            goBackURL="/"

             [min]="6"
             [max]="60"
             [enableLengthRule]="true"
             [enableLowerCaseLetterRule]="false"
             [enableUpperCaseLetterRule]="false"
             [enableDigitRule]="false"
             [enableSpecialCharRule]="false"
             (onStrengthChanged)="onStrengthChanged($event)"
            >
            </ngx-auth-firebaseui>

   </div>
</div>

<!-- Material form login -->
