.container{
  max-width: 700px;
  height: 30%;
  padding: 2%;

}
.form-wraper{
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top:10%;
  margin-bottom: 10px;
}
.form-container{
  // margin-top: 12%;
  margin: auto;
  // padding-bottom: 24px !important;
  display: block;
  border-radius: 10px;
  background: linear-gradient(to right, #5f9ea0, #999)
}
