.main {
  margin: auto;
  width: 50%;
  height: 60%;
  background-color:rgba(0, 0, 0, 0.05);
  border-radius: 5px;

}
.head{
margin-top: 10%;
padding-top: 10px;
text-align: center;
color: white;
border-top-left-radius: 5px;
border-top-right-radius:  5px;

}
.content{
  background-color:rgba(0, 0, 0, 0.5);
  color: white !important;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 5px;


}
