    <mdb-navbar SideClass="navbar-dark " [containerInside]="false">
    <div class="navbar navbar-expand-md bg-light fixed-top">

      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">Bizkrac</a></mdb-navbar-brand>

      <!-- Collapsible content -->
      <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" routerLink="/news" mdbWavesEffect>News<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact Us</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Admin<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/admin/users">Manage Users</a>
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="admin/expert-category">Manage Categories</a>
                    <!-- <div class="btn-group dropright">
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                      </div> -->
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Manage Specialization</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Manage Industries</a>
              <!-- <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/register" mdbWavesEffect>Register as a Consultant</a>
          </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <!-- <li class="nav-item">
            <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
          </li>-->
          <ng-template #anonymousUser>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/login" mdbWavesEffect href="#">Login</a>
              </li>
          </ng-template>
          <li *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item avatar dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                {{ user.email }}
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <!-- <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect> -->
            <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a> -->
              <a class="dropdown-item waves-light" routerLink="/register" mdbWavesEffect href="#">My Account</a>
              <a class="dropdown-item waves-light" routerLink="/login" mdbWavesEffect href="#" (click)="logout()">Log Out</a>
            </div>
          </li>
        </ul>
      </links>

    </div>
    </mdb-navbar>
