/*header {
    background: #7700FF;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: left;

        
    }
}*/
.bg-light {
    /*background: #7700FF !important; */
    background-image: linear-gradient(to right,rgb(177, 130, 130),white);
    margin-bottom: 0;
    background-color: #ffffff;
    border-color: #ffffff
}

.dropdown-toggle {
    cursor: pointer;
}
.navbar-brand {
    /*font-weight: bold;*/
    padding: 1em;
    text-transform: uppercase;
    font-size: .9em;
}
ul {
    list-style-type: none;
    margin: 0; padding: 0;

    li {
        float: left;

        a {
            padding: 1em;
            text-transform: uppercase;
            font-size: .8em;

            &:hover {
                background: #FFF;
            }
        }
    }
}