 <nav>
  <div class="container">
    <mdb-navbar SideClass="navbar navbar-dark purple lighten-1" [containerInside]="false">
    <div class="navbar navbar-expand-md navbar-light bg-light fixed-top">

      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand" href="#">Bizkrac</a></mdb-navbar-brand>

      <!-- Collapsible content -->
      <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-light" routerLink="/news" mdbWavesEffect>News<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact Us</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Explore<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Categories</a>
                    <!-- <div class="btn-group dropright">
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                      </div> -->
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sectors</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Locations</a>
              <!-- <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a> -->
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/register" mdbWavesEffect>Become a Consultant</a>
          </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <!-- <li class="nav-item">
            <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
          </li> -->
          <li class="nav-item avatar dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
           My Account
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <!-- <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect> -->
            <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a> -->
              <a class="dropdown-item waves-light" routerLink="/register" mdbWavesEffect href="#">My account</a>
              <a class="dropdown-item waves-light" routerLink="/login" mdbWavesEffect href="#">Log in</a>
            </div>
          </li>
        </ul>
      </links>
   <!-- <a class="navbar-brand" href="#">Bizkrac</a>
   <div class ="menu">
      <ol>
   <li class="menu-item"><a routerLink="/about">Explore</a>
     <ol class="sub-menu">
       <li class="menu-item"><a href="#0">Big Widgets</a></li>
       <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
       <li class="menu-item"><a href="#0">Huge Widgets</a></li>
     </ol></li>
    <li class="menu-item"><a routerLink="/new">News</a></li>
   <li class="menu-item"><a routerLink="/about">About us</a></li>
   <li class="menu-item">
     <a routerLink="/contact">Contact Us</a>
   </li>
   <li class="menu-item">
     <a href="#0">Kabobs</a>
     <ol class="sub-menu">
       <li class="menu-item"><a href="#0">Shishkabobs</a></li>
       <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
       <li class="menu-item"><a href="#0">Summer kabobs</a></li>
     </ol>
 </ol>
   <menuitem type="command" label="Save">
   <a routerLink="/login">>Login</a>
   </menuitem>

 </div> -->
    </div>
    </mdb-navbar>
  </div>
</nav>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">


  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
