@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.bg-light {
  /*background: #7700FF !important; */
  background-image: repeating-linear-gradient(315deg, #06bcfb 0%, #4884ee 56.3%);
  // margin-bottom: 0px;
  // background-color: #ffffff;
  // border-color: #ffffff;
  // height: 120px;

}

.navbar-brand {
  font-weight: bold;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  font-size: 2em;}

.dropdown{
background-image: repeating-linear-gradient(315deg, #06bcfb 0%, #4884ee 56.3%);
}
  ul {
    list-style: none;
    padding: 0;
    // height: 120px;
    padding-right: 0px;
    // margin-top: 20px;
    // background-color: black;
  }
 ul > li {
    background: #06bcfb;
    border-left: 5px solid var(--gradient-color);
    margin-bottom: 1px;
    margin-right: 30px;
    border-radius: 5px;
    position: relative;
    width: auto;
    transition: .5s;
  }
  ul > li:nth-child(1) {
    --accent-color: #FDA085;
    --gradient-color: #F6D365;
    margin-left: 15px;
  }
 ul > li:nth-child(2) {
    --accent-color: #BFF098;
    --gradient-color: #6FD6FF;
    margin-left: 15px;
  }
 ul > li:nth-child(3) {
    --accent-color: #EA8D8D;
    --gradient-color: #A890FE;
    margin-left: 15px;
  }
ul > li:nth-child(4) {
    --accent-color: #D8B5FF;
    --gradient-color: #1EAE98;
    margin-left: 15px;
  }
// ol > li:nth-child(5) {
//     --accent-color: #C6EA8D;
//     --gradient-color: #FE90AF;
//     margin-left: 15px;
//   }
 ul > li a , .dropdown a {
    color: #FBFBFB;
    display: block;
    padding: 15px;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    z-index: 1;
  }
 // ul > li a:not(:last-child):before {
 //    // content: "\f078";
 //    font-family: fontAwesome;
 //    font-size: .75em;
 //    line-height: 50px;
 //    position: absolute;
 //    right: 25px;
 //    top: 0;
 //    bottom: 0;
 //    margin: 0;
 //    transition: .5s;
 //  }
ul > li:focus, ul > li:focus-within, ul > li:hover {
    z-index: 10;
  }
 ul > li:focus:after, ul > li:focus-within:after, ul > li:hover:after {
    background: linear-gradient(to left,var(--accent-color),var(--gradient-color));
    max-width: 300px;
  }
//  ul > li:focus .sub-menu, ul > li:focus-within .sub-menu {
//     max-height: 120px;
//   }
ul > li:focus a:before, ul > li:focus-within a:before {
    transform: rotate(-180deg);
  }
 ul > li:after {
    background: #3c3c3c;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .5s;
    max-width: 0;
    overflow: hidden;
  }
  // .dropdown a {
  //   border-left: 1px solid #FBFBFB;
  //   margin-left: 22.5px;
  //   list-style: none;
  //   max-height: 0px;
  //   overflow: hidden;
  //   padding-left: 7.5px;
  //   position: relative;
  //   transition: .5s;
  //   z-index: 1;
  // }
 // .dropdown a {
 //    font-size: .9em;
 //  }
.dropdown a:hover, .dropdown a:focus {
    background: rgba(60,60,60,0.3);
  }
 .dropdown a:after {
    bottom: 5px;
    height: 1px;
  }
// .dropdown a:hover:after, .dropdown a:focus:after {
//     width: 15px;
//   }
//   @media (min-width: 600px) {
//     a:focus, a:hover {
//       position: relative;
//     }
//     a:focus:after, a:hover:after {
//       width: 50px;
//     }
//     a:after {
//       left: 0;
//       right: 0;
//       margin: auto;
//     }
//     .menu {
//       margin: 0;
//       margin-top: 20vh;
//     }
//    ol {
//       display: block;
//       max-width: none;
//       text-align: center;
//     }
//    ol > li {
//       border-top: 5px solid var(--accent-color);
//       border-left: 0;
//       display: inline-block;
//       margin-left: -5px;
//       vertical-align: top;
//       width: 120px;
//     }
//      ol > li:hover:after, ol > li:focus:after, ol > li:focus-within:after {
//       background: linear-gradient(to bottom,var(--accent-color),var(--gradient-color));
//       border-radius: 3px;
//       top: -15px;
//       bottom: -15px;
//       left: -15px;
//       right: -15px;
//     }
//      ol > li:hover .sub-menu, ol > li:focus .sub-menu, ol > li:focus-within .sub-menu {
//       max-height: 120px;
//     }
//     ol > li a:not(:last-child):before {
//       right: 12.5px;
//     }
//     ol > li:hover a:before {
//       transform: rotate(-180deg);
//     }
//     ol .sub-menu {
//       border-left: 0;
//       margin: 15px -15px -15px;
//       padding-left: 0;
//     }
//   }
//   @media (min-width: 775px) {
//     ol > li {
//       width: 150px;
//     }
//     ol > li a:not(:last-child):before {
//       right: 25px;
//     }
//   }
