/*.form input[type="password"], .form input[type="submit"] {
    width: 50%;
  }*/
.container{
  width: 50%;
  margin: auto;
  padding: 20px;
}
label {
    display: block;
    input {
        display: block;
        width: 40%;
        margin-bottom: 10px;
        padding: 1em;
      }
}
.error {
    // margin-top: -15px;
    // background: yellow;
    padding: .1em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 0px;
    width: 100%;
}
/*.cta {
    background: #7700FF;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat'
}
.results {
    margin-top: 50px;
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}*/
.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}
.btn-primary {
    margin: auto;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    //color: #fff;
    color: black;
    text-transform: uppercase;
    border: none;
    background-image :    -moz-linear-gradient(to left, #74ebd5,#9face6);
    background-image :     -ms-linear-gradient(to left, #74ebd5,#9face6);
    background-image :      -o-linear-gradient(to left, #74ebd5,#9face6);
    background-image : -webkit-linear-gradient(to left, #74ebd5,#9face6);
    background-image :         linear-gradient(to left, #74ebd5,#9face6);
  }
