/*.form input[type="password"], .form input[type="submit"] {
    width: 50%;
  }*/
  
label {
    display: block;
    input {
        display: block;
        width: 40%;
        margin-bottom: 20px;
        padding: 1em;
      }
}
.error {
    // margin-top: -15px;
    // background: yellow;
    padding: .1em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 0px;
    width: 100%;
}
/*.cta {
    background: #7700FF;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat'
}
.results {
    margin-top: 50px;
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block; 
    }
}*/
.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}
.btn-lg {
    width: 100%;
  }