<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <!-- <div class="image">
        <img src="../../assets/image/default-avatar.png" alt="...">
      </div> -->
      <div class="card-body">
        <div class="author center">
          <a href="/profile">
            <div *ngIf="user.photoURL ; then userPhoto else noUserPhoto"></div>
              <ng-template #userPhoto>
               <img class="avatar border-gray" src={{user.photoURL}} alt="...">
              </ng-template>
              <ng-template #noUserPhoto>
               <img class="avatar border-gray" src="../../assets/image/default-avatar.png" alt="...">
              </ng-template>
            <h5 class="title">{{user.displayName}}</h5>
          </a>
          <div *ngIf="user.emailVerified; then emailVerified else emailNotVerified"></div>
            <ng-template #emailVerified>
              <mat-icon color="primary"
                        matTooltip="email is verified"
                        matTooltipPosition="after">
                verified_user
              </mat-icon>
            </ng-template>
            <ng-template #emailNotVerified>
              <mat-icon color="warn"
                        matTooltip="email is not verified"
                        matTooltipPosition="after">
                warning
              </mat-icon>
            </ng-template>
          <p class="description center">
            {{user.email}}
          </p>
        </div>
        <p class="description text-center">
          <!-- No categories yet.
        <button type="" name="button" class= "primary">
          Add categories
        </button>
          <br> No diggity
          <br> I wanna bag it up" -->
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Profile Views</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>3
                <br>
                <small>Customers</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24
                <br>
                <small>Connected</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Personal Information</h5>
        </div>
        <form>
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Company</label>
                <input name= "company" type="text" class="form-control"  placeholder="Your Company" value="">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" placeholder="Username" value={{user.displayName}}>
              </div>
            </div>
            <div class="col-md-3 pl-2">
              <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" placeholder="Email" value = {{user.email}}>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pl-2">
              <div class="form-group">
                <label>Address</label>
                <input name="address" type="text" class="form-control" placeholder="Home Address" value="">
              </div>
            </div>
            <div class="col-md-3 pl-2">
              <div class="form-group">
                <label>Postal Code</label>
                <input name="postal" type="text" class="form-control" placeholder="ie 1234-5678..">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>City</label>
                <input name="city" type="text" class="form-control" placeholder="Enter your City" value="">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Country</label>
                <input name="country" type="text" class="form-control" placeholder="Enter your Country" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea name="about" class="form-control textarea" placeholder="Your short description and work here!"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
        <div class="card-header">
          <h5 class="card-title">Professional Details</h5>
          Add your professional details here. Check all that applies
        </div>
        <form name="professional">
        <div class="proffessions">
        <article>
            <details>
              <summary>Accounting and Finance</summary>
              <ul>
              <li *ngFor="let account of accounting">
                 <input type="checkbox"  name="accounting" value={{account}}> {{account}}
               </li>
              </ul>
            </details>
          </article>
          <article>
              <details>
                <summary>Taxation</summary>
                <ul>
                <li *ngFor="let tax of Taxation">
                   <input type="checkbox"  name="taxation" value={{tax}}> {{tax}}
                 </li>
                </ul>
              </details>
            </article>
            <article>
                <details>
                  <summary>Assurance/Audit</summary>
                  <ul>
                  <li *ngFor="let audit of audits">
                     <input type="checkbox"  name="audit" value={{audit}}> {{audit}}
                   </li>
                  </ul>
                </details>
              </article>
              <article>
                  <details>
                    <summary>Risk Management</summary>
                    <ul>
                    <li *ngFor="let risk of risks">
                       <input type="checkbox"  name="risk" value={{risk}}> {{risk}}
                     </li>
                    </ul>
                  </details>
                </article>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">Update Proffessions</button>
                  </div>
                  </div>
          </form>
      </div>
    </div>
  </div>
</div>
</div>
