.bg {
  /* The image used */
  background-image: url("../assets/image/signup-bg.jpg");
  /* Full height */
  height: 100%;
  position: relative;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}


