<!--<a href="#" class="btn btn-primary"></a>-->
<div class="container">
        <div class="card card-outline-secondary">
            <div class="card-header">
                    <h3 class="mb-0">Add / Remove User</h3>
                <div class="card-body">
                        <form class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input id="firstname" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input id="lastname" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input id="phone" type="text" class="form-control">
                                </div>
                                <!--<div class="form-group">
                                    <label for="price">Price</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                        <input id="price" type="number" class="form-control">
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label for="isAdmin">Is Admin</label>
                                    <select id="isAdmin" class="form-control">
                                        <option selected="">select one</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary">Save</button>
                            </form>
                </div>
            </div>
        </div>
</div>
