.container  {
    width: 40%;
    position: relative;
    margin:auto;
    padding-top: 50px;
    padding-bottom: 30px;
}
body {
    //font-family: 'Montserrat';
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn-danger {
    margin-right: 10px;
    width: 20%;
}
.btn-primary {
    width: 20%;
}
.mb-0 {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 1.25rem;
}
.alert-danger {
    padding: 6px 6px;
}
    .form-input {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 10px 13px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #222;
    }