@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
// @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js');
@import '../node_modules/font-awesome/css/font-awesome.min.css';


body {
    padding-top: 80px;
    font-family: 'Montserrat';
    font-size: 18px; 
    // margin: 0 auto;        
}