
    <section id="search">
            <div class="container-fluid">
                    <form class="mx-2 my-auto d-inline w-100">
                            <!-- <label for="search"><b>Search our this Consultant Database</b></label> -->
                            <div class="input-group">
                               <!-- <input type="text" class="form-control" placeholder="Enter search key" name="search">
                                <span class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">GO</button>
                                </span> -->
                                <!-- <h1>Find Your Expert</h1> -->
                             </div>
                         </form>
                </div>
    </section>
  <section class="main">
    <div class="search-form">
                <div class="col-md-10 offset-md-1">
                                    <div class="input-group-append">
                                      <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Find a Consultant">
                                      <div class="input-group-append ">
                                          <select id="inputGroupSelect01">
                                            <option selected="">All Categories</option>
                                            <option value="1">Experts</option>
                                            <option value="2">Industries</option>
                                            <option value="3">Proffessions</option>
                                            <option value="3">Locations</option>
                                            <option value="3">Country</option>
                                          </select>
                                      </div>

                                        <button class="btn-search btn btn-outline-secondary" type="button"><img src="../../assets/image/search.png" alt="Image">
                                        </button>

                                    </div>
                                </div>
                            </div>

  </section>

    <!-- <section id="services">
    <div class="section-services">
        <div class="container-fluid">
            <div class="div-row">
                <div class="div-col-md-4">
                    <div class="div-single-services">
                        <span><i class="fa fa-comment-o fa-2x"></i></span>
                        <h4>Accounting & Finance</h4>
                            <div class="div-front-block-inner-body">
                                <div class="div-front-block-inner-col-1">
                                    <ul class="list-arrow">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="div-col-md-4">
                        <div class="div-single-services">
                            <span><i class="fa fa-dribbble fa-2x"></i></span>
                            <h4>Taxation</h4>
                                <div class="div-front-block-inner-body">
                                    <div class="div-front-block-inner-col-1">
                                        <ul class="list-arrow">
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="div-col-md-4">
                        <div class="div-single-services">
                            <span><i class="fa fa-cog fa-2x"></i></span>
                            <h4>Assurance/ Audit</h4>
                                <div class="div-front-block-inner-body">
                                    <div class="div-front-block-inner-col-1">
                                        <ul class="list-arrow">
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                </div>
                <div class="div-col-md-4">
                        <div class="div-single-services">
                            <span><i class="fa fa-cog fa-2x"></i></span>
                            <h4>Risk Management</h4>
                                <div class="div-front-block-inner-body">
                                    <div class="div-front-block-inner-col-1">
                                        <ul class="list-arrow">
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
