 $basecolor: #3996DB;
 $color-green:#0daf91;
 $color-white:#fff;
 $color-body:none;
 $font-popins:"Open Sans", sans-serif;

.search-form {
    margin-top:0;
    border: grey;
    font-family: 'Montserrat';
    font-size: 18px;

}

.form-control {
    padding: 0px;
    padding-left: 10px;
    font-size: 32px;
    border-bottom-left-radius: 3px;
    border-right:none;
    border-top-left-radius: 3px;
    margin-right:0;
    border: none;
}
#inputGroupSelect{
  padding:2px;
  font-size: 32px;
  border: none;
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  margin-left: -5px;
  cursor:pointer;
}
.btn-search {
    width: 85px;
    height: 62px;
    border: none;
    margin-left: -2px;
    border-width: thin;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    outline: none;
    background-color: white;
    box-shadow: none;
    cursor: pointer;
  }

  .btn-search img{
       object-fit: cover;
       max-width: 20px;
       max-height: 22px;
       margin-top: -3px;
   }
  i{
       color: $color-white;
   }
    i:focus {
       border: 1px solid $color-green;
   }
