// $basecolor: #3996DB;

body {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
}
.slider-area {
    width: 800px;
    border: 0px;
    padding: 0px;
    margin-top: 200px;
}